body
	background-color #f5f6fa
	font-size 14px;
	font-family: 'Roboto', sans-serif;

h2,h3,h4,h5,ul,body,html
	padding 0px
	margin 0px
.mtop16
	margin-top 16px	

.wrapper
	min-height 100vh
	overflow hidden
	.col1
		float left
		position relative
		z-index 999
		width 17%
		img
			width 85%
			height 85%
	.col2
		float left
		width 83%
		

.sidebar
	background-color #fff
	min-height 100vh
	.section-top
		background-color #abffc1
		box-shadow 0 0.5rem 2rem rgba(0,0,0,0.15)
	.logo
		display block
		margin 0px auto
		padding-top 20px
		width 80%
	.user
		color #000000 !important
		padding 20px
		a
			color #002fb0
			font-size 1.2em
	.main
		display block
		margin-top 4px
		ul
			li
				margin-bottom 4px
				a
					color #8998AC
					display block
					font-size 1.4em
					padding 12px 16px
					text-decoration none
					i
						margin-right 16px
					&:hover
						background-color #ddebde
						box-shadow 0 0.7rem 2rem rgba(0,0,0,0.15)
						color #000000 !important
						
.navbar
	background-color #ddebde
	box-shadow 0 0.7rem 2rem rgba(0,0,0,0.15)
	a
		color #000000 !important

.page 
	padding-top 16px
	padding-bottom 16px
	.breadcrumb
		background-color #fff
		box-shadow 0 0.5rem 1rem rgba(0, 0, 0, 0.10) !important
		.breadcrumb-item
			a
				padding-left 8px
				padding-right 8px
				i
					padding-right 3px

				&:hover
					text-decoration none !important
	
	.panel
		background-color #fff
		box-shadow 0 0.5rem 2rem rgba(0,0,0,0.15)
		border-radius 6px
		border-bottom 2px solid
		width 100%
		.header
			border-bottom 1px solid #000000
			h2.title
				display inline-block
				color #19213d
				font-size 1.1em
				padding 12px 16px
		.inside
			padding 16px
			.nav
				a.nav-link
					border 1px solid #000000
					margin-right 8px		
					&:hover
						background-color #80e87b
						color #fff
.opts
	a
		border-radius 4px
		border 1px solid #f0f0f0
		display inline-block
		padding 8px 12px
		

.product_gallery
	overflow hidden
	.btn-submit
		width 100%
		display block
		margin-right 1%
		
		a
			width 100%
			border 1px dashed #6666
			text-align center
			display block
			font-size 1.5em
			padding 12px
			color #333
			border-radius 4px
			&:hover
				background-color #80e87b
				color #fff
	.tumbs
		overflow hidden
		
		.tumb
			float left
			width 48%
			position relative
			margin-top 16px
			
			a
				background-color rgba(0,0,0,0.5)
				display inline-block
				border-radius 50%
				position absolute
				color #fff
				padding 6px 10px
				bottom 8px
				right 8px
			img
				width 100%
				border-radius 4px
			&:nth-child(odd)
				margin-right 4%
				